<h1>Exercise: A simple text reversing service</h1>
<p>Accepts a text string from the user and displays to the user the text string reversed</p>
<form action="/display" method="post" accept-charset="utf-8">
<input type="text" name="post[text]" value="Type your text to reverse..." id="text" /><br />
<input type="submit" value=".. and display it!">
</form>

